### Build hierarchical model
- Objective: this notebook does XX

In [41]:
# Import modules
import statsmodels
import pandas as pd
import openpyxl
import numpy as np

In [32]:
# Import analysis ready yield data C:\Users\djava\OneDrive\Documents\Oxford\Projects\india_rice_early_warning\4_data\PROCESSED_DATA\ANALYSIS_READY\india_yield_weather_ndvi.xlsx
df_yield = pd.read_excel(r'C:\Users\djava\OneDrive\Documents\Oxford\Projects\india_rice_early_warning\4_data\PROCESSED_DATA\ANALYSIS_READY\india_yield_weather_ndvi.xlsx', sheet_name='Sheet1')

In [33]:
# Filter out 2021
df_yield = df_yield[df_yield['year'] != 2021]

In [34]:
# Drop all the columns with NDVI in the name 
df_yield = df_yield[df_yield.columns.drop(list(df_yield.filter(regex='NDVI')))]

In [35]:
# Drop the GID_2s where nan values occur in the whole df
df_yield = df_yield.dropna()

In [36]:
# Convert GID_2 to category
df_yield['GID_2'] = df_yield['GID_2'].astype('category')

In [37]:
# List of column names
df_yield.columns

Index(['GID_2', 'State', 'District', 'year', 'Season', 'Area_ha',
       'Production_t', 'Yield_t_ha', 'LAI May', 'LAI June', 'LAI July',
       'LAI August', 'LAI September', 'LAI October', 'LAI November', 'PEV May',
       'PEV June', 'PEV July', 'PEV August', 'PEV September', 'PEV October',
       'PEV November', 'SP May', 'SP June', 'SP July', 'SP August',
       'SP September', 'SP October', 'SP November', 'SWVL1 May', 'SWVL1 June',
       'SWVL1 July', 'SWVL1 August', 'SWVL1 September', 'SWVL1 October',
       'SWVL1 November', 'Temperature May', 'Temperature June',
       'Temperature July', 'Temperature August', 'Temperature September',
       'Temperature October', 'Temperature November', 'Precipitation May',
       'Precipitation June', 'Precipitation July', 'Precipitation August',
       'Precipitation September', 'Precipitation October',
       'Precipitation November'],
      dtype='object')

In [38]:
# Simplified model formula (start with this and then add more variables)
model_formula = "Yield_t_ha ~ "

# Now adapt formula with all column names from LAI May to Precipitation November
for col in df_yield.columns[8:50]:  # Adjusted indices to include the desired columns
    model_formula += col + " + "

# Remove the last extra ' + '
model_formula = model_formula.rstrip(' + ')

print(model_formula)

Yield_t_ha ~ LAI May + LAI June + LAI July + LAI August + LAI September + LAI October + LAI November + PEV May + PEV June + PEV July + PEV August + PEV September + PEV October + PEV November + SP May + SP June + SP July + SP August + SP September + SP October + SP November + SWVL1 May + SWVL1 June + SWVL1 July + SWVL1 August + SWVL1 September + SWVL1 October + SWVL1 November + Temperature May + Temperature June + Temperature July + Temperature August + Temperature September + Temperature October + Temperature November + Precipitation May + Precipitation June + Precipitation July + Precipitation August + Precipitation September + Precipitation October + Precipitation November

In [39]:
model_formula

'Yield_t_ha ~ LAI May + LAI June + LAI July + LAI August + LAI September + LAI October + LAI November + PEV May + PEV June + PEV July + PEV August + PEV September + PEV October + PEV November + SP May + SP June + SP July + SP August + SP September + SP October + SP November + SWVL1 May + SWVL1 June + SWVL1 July + SWVL1 August + SWVL1 September + SWVL1 October + SWVL1 November + Temperature May + Temperature June + Temperature July + Temperature August + Temperature September + Temperature October + Temperature November + Precipitation May + Precipitation June + Precipitation July + Precipitation August + Precipitation September + Precipitation October + Precipitation November'

In [43]:
# Fit the model with 'District' as a grouping variable (random effect)
mixedlm_model = statsmodels.mixedlm(model_formula, df_yield, groups=df_yield["District"])
mixedlm_result = mixedlm_model.fit()

# Print the summary
print(mixedlm_result.summary())

AttributeError: module 'statsmodels' has no attribute 'mixedlm'

In [29]:
# Assuming your DataFrame is named df
# You may need to adjust the formula based on your specific needs
model_formula = "Yield_t_ha ~ t2m_5 + t2m_6 + t2m_7 + t2m_8 + t2m_9 + t2m_10 + t2m_11 + tp_5 + tp_6 + tp_7 + tp_8 + tp_9 + tp_10 + tp_11 + NDVI_5 + NDVI_6 + NDVI_7 + NDVI_8 + NDVI_9 + NDVI_10 + NDVI_11"

# Fit the model
mixedlm_model = smf.mixedlm(model_formula, df_yield, groups=df_yield["District"])
mixedlm_result = mixedlm_model.fit()

# Print the summary
mixedlm_result.summary()

<class 'statsmodels.iolib.summary2.Summary'>
"""
         Mixed Linear Model Regression Results
========================================================
Model:            MixedLM Dependent Variable: Yield_t_ha
No. Observations: 4571    Method:             REML
No. Groups:       227     Scale:              0.1522
Min. group size:  18      Log-Likelihood:     -2725.7643
Max. group size:  40      Converged:          Yes
Mean group size:  20.1
--------------------------------------------------------
             Coef.  Std.Err.   z    P>|z|  [0.025 0.975]
--------------------------------------------------------
Intercept    -3.372    0.391 -8.629 0.000  -4.138 -2.606
t2m_5        -0.018    0.008 -2.319 0.020  -0.033 -0.003
t2m_6        -0.017    0.007 -2.384 0.017  -0.031 -0.003
t2m_7         0.053    0.010  5.340 0.000   0.033  0.072
t2m_8         0.040    0.015  2.600 0.009   0.010  0.070
t2m_9         0.036    0.011  3.225 0.001   0.014  0.058
t2m_10        0.053    0.010  5.148 0.000   0.033  0.074
t2m_11       -0.009    0.008 -1.160 0.246  -0.025  0.006
tp_5        -10.378    3.724 -2.787 0.005 -17.676 -3.080
tp_6         -5.497    2.439 -2.253 0.024 -10.278 -0.715
tp_7          3.154    1.792  1.760 0.078  -0.358  6.667
tp_8          5.774    2.196  2.629 0.009   1.469 10.079
tp_9          3.757    2.327  1.615 0.106  -0.803  8.317
tp_10         8.952    3.906  2.292 0.022   1.296 16.608
tp_11         8.530    6.106  1.397 0.162  -3.438 20.498
NDVI_5        1.569    0.245  6.398 0.000   1.088  2.049
NDVI_6        0.564    0.146  3.863 0.000   0.278  0.850
NDVI_7       -0.548    0.098 -5.574 0.000  -0.740 -0.355
NDVI_8        0.714    0.149  4.781 0.000   0.422  1.007
NDVI_9        1.755    0.233  7.539 0.000   1.299  2.211
NDVI_10       0.564    0.220  2.569 0.010   0.134  0.994
NDVI_11      -1.019    0.241 -4.234 0.000  -1.490 -0.547
Group Var     0.811    0.224
========================================================

"""

In [50]:
mixedlm_result.fittedvalues

0       2.130052
1       2.201793
2       1.850127
3       1.939801
4       2.012307
          ...
5115    2.139775
5116    2.321583
5117    2.087893
5118    2.199543
5119    2.497401
Length: 4571, dtype: float64

In [46]:
# Make a new df_yield_test with on district in 2020 and run the model to make a prediction
df_yield_test = df_yield[(df_yield['District'] == 'Dhamtari') & (df_yield['year'] == 2018)]

In [47]:
df_yield_test

,GID_2,State,District,year,Season,Area_ha,Production_t,Yield_t_ha,t2m_5,t2m_6,...,tp_9,tp_10,tp_11,NDVI_5,NDVI_6,NDVI_7,NDVI_8,NDVI_9,NDVI_10,NDVI_11
5117,IND.7.9_1,Chhattisgarh,Dhamtari,2018,Kharif,144868.0,311175.0,2.14799,33.253918,29.833447,...,0.00659,0.000237,0.000016,0.330148,0.414741,0.565517,0.711291,0.754015,0.685228,0.503421

In [48]:
# Predict yield
predicted_yield = mixedlm_result.predict(df_yield_test)

In [53]:
# Assuming df is your original DataFrame used for modeling, and it includes the observed 'Yield_t_ha'
observed_yields = df_yield['Yield_t_ha']
predicted_yields = mixedlm_result.fittedvalues

# Calculate MAE
mae = np.mean(np.abs(predicted_yields - observed_yields))
print(f"Mean Absolute Error (MAE): {mae}")

Mean Absolute Error (MAE): 0.2833682498179813

In [54]:
# in df_yield check if there are duplicate district names. For example there could be two districts with the same name
df_yield['District'].value_counts()

Raigarh          40
Bilaspur         40
Agra             20
Muzaffarnagar    20
Mandi            20
                 ..
Champawat         0
Bid               0
Chamoli           0
Bishnupur         0
Dhaulpur          0
Name: District, Length: 254, dtype: int64