### Build hierarchical model
- Objective: this notebook does XX

In [59]:
# Import modules
import statsmodels
import pandas as pd
import openpyxl
import numpy as np

In [60]:
# Import analysis ready yield data C:\Users\djava\OneDrive\Documents\Oxford\Projects\india_rice_early_warning\4_data\PROCESSED_DATA\ANALYSIS_READY\india_yield_weather_ndvi.xlsx
df_yield = pd.read_excel(r'C:\Users\djava\OneDrive\Documents\Oxford\Projects\india_rice_early_warning\4_data\PROCESSED_DATA\ANALYSIS_READY\india_yield_weather_ndvi.xlsx', sheet_name='Sheet1')

In [65]:
# Remove districts where there is any presence of nan values in the t2m, tp or NDVI columns; the district should be removed across all years if there is any nan value in any of the years
# Create a list of districts to remove
districts_to_remove = []
for district in df_yield['District'].unique():
    # Create a dataframe for each district
    df_district = df_yield[df_yield['District'] == district]
    # Check if there are any nan values in the t2m, tp or NDVI columns
    if df_district[['t2m_5', 't2m_6', 't2m_7', 't2m_8', 't2m_9', 't2m_10', 't2m_11', 'tp_5', 'tp_6', 'tp_7', 'tp_8', 'tp_9', 'tp_10', 'tp_11', 'NDVI_5', 'NDVI_6', 'NDVI_7', 'NDVI_8', 'NDVI_9', 'NDVI_10', 'NDVI_11']].isnull().values.any():
        # If there are nan values, add the district to the list of districts to remove
        districts_to_remove.append(district)
    else:
        # If there are no nan values, continue
        continue
    
# Remove the districts from the dataframe
df_yield = df_yield[~df_yield['District'].isin(districts_to_remove)]

# Check the number of districts remaining
len(df_yield['District'].unique())

# Check the number of districts removed
len(districts_to_remove)

27

In [62]:
df_yield['GID_2'] = df_yield['GID_2'].astype('category')

In [24]:
# Remove districts where there is any presence of nan values in the t2m, tp or NDVI columns; the district should be removed across all years if there is any nan value in any of the years
# Create a list of districts to remove
districts_to_remove = []
for district in df_yield['District'].unique():
    # Create a dataframe for each district
    df_district = df_yield[df_yield['District'] == district]
    # Check if there are any nan values in the t2m, tp or NDVI columns
    if df_district[['t2m_5', 't2m_6', 't2m_7', 't2m_8', 't2m_9', 't2m_10', 't2m_11', 'tp_5', 'tp_6', 'tp_7', 'tp_8', 'tp_9', 'tp_10', 'tp_11', 'NDVI_5', 'NDVI_6', 'NDVI_7', 'NDVI_8', 'NDVI_9', 'NDVI_10', 'NDVI_11']].isnull().values.any():
        # If there are nan values, add the district to the list of districts to remove
        districts_to_remove.append(district)
    else:
        # If there are no nan values, continue
        continue
    
# Remove the districts from the dataframe
df_yield = df_yield[~df_yield['District'].isin(districts_to_remove)]

# Check the number of districts remaining
len(df_yield['District'].unique())

# Check the number of districts removed
len(districts_to_remove)

27

In [25]:
df_yield

,GID_2,State,District,year,Season,Area_ha,Production_t,Yield_t_ha,t2m_5,t2m_6,...,tp_9,tp_10,tp_11,NDVI_5,NDVI_6,NDVI_7,NDVI_8,NDVI_9,NDVI_10,NDVI_11
0,IND.11.12_1,Gujarat,Gandhinagar,2001,Kharif,7600.0,17100.0,2.250000,33.147400,30.777649,...,0.000360,0.001253,0.000000,0.353912,0.326378,0.405922,0.609368,0.561315,0.473015,0.401144
1,IND.11.12_1,Gujarat,Gandhinagar,2002,Kharif,7000.0,17500.0,2.500000,34.357269,32.853912,...,0.001236,0.000000,0.000038,0.327856,0.320886,0.395484,0.586203,0.603006,0.467924,0.370233
2,IND.11.12_1,Gujarat,Gandhinagar,2003,Kharif,4600.0,9900.0,2.152174,33.711578,32.304932,...,0.001012,0.000011,0.000000,0.315325,0.299044,0.563758,0.596060,0.579310,0.530602,0.450795
3,IND.11.12_1,Gujarat,Gandhinagar,2004,Kharif,13100.0,35200.0,2.687023,33.319153,31.910339,...,0.000862,0.001163,0.000003,0.323904,0.318026,0.408389,0.578152,0.538458,0.515882,0.476042
4,IND.11.12_1,Gujarat,Gandhinagar,2005,Kharif,13200.0,29100.0,2.204545,33.180023,32.222321,...,0.009802,0.000006,0.000000,0.329544,0.311948,0.375546,0.561531,0.588265,0.565312,0.472057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5115,IND.7.9_1,Chhattisgarh,Dhamtari,2016,Kharif,173361.0,314275.0,1.812836,33.648735,31.236383,...,0.012280,0.003595,0.000037,0.340298,0.370670,0.491839,0.730852,0.765638,0.749241,0.563611
5116,IND.7.9_1,Chhattisgarh,Dhamtari,2017,Kharif,183504.0,603476.0,3.288626,34.701641,29.888233,...,0.007111,0.004265,0.000113,0.382216,0.403482,0.492632,0.753171,0.775475,0.734914,0.562131
5117,IND.7.9_1,Chhattisgarh,Dhamtari,2018,Kharif,144868.0,311175.0,2.147990,33.253918,29.833447,...,0.006590,0.000237,0.000016,0.330148,0.414741,0.565517,0.711291,0.754015,0.685228,0.503421
5118,IND.7.9_1,Chhattisgarh,Dhamtari,2019,Kharif,178763.0,433106.0,2.422794,35.239288,32.405170,...,0.012303,0.005617,0.000032,0.398533,0.358957,0.578997,0.648554,0.813679,0.772194,0.600879
5119,IND.7.9_1,Chhattisgarh,Dhamtari,2020,Kharif,188678.0,603600.0,3.199101,32.723236,28.510309,...,0.005851,0.004623,0.000196,0.423810,0.427507,0.651611,0.787468,0.800762,0.698005,0.517349

In [26]:
# Simplified model formula (start with this and then add more variables)
model_formula = "Yield_t_ha ~ t2m_5 + t2m_6 + NDVI_5 + NDVI_6"

# Fit the model with 'District' as a grouping variable (random effect)
mixedlm_model = smf.mixedlm(model_formula, df_yield, groups=df_yield["District"])
mixedlm_result = mixedlm_model.fit()

# Print the summary
print(mixedlm_result.summary())

         Mixed Linear Model Regression Results
========================================================
Model:            MixedLM Dependent Variable: Yield_t_ha
No. Observations: 4571    Method:             REML
No. Groups:       227     Scale:              0.1662
Min. group size:  18      Log-Likelihood:     -2947.7545
Max. group size:  40      Converged:          Yes
Mean group size:  20.1
--------------------------------------------------------
              Coef.  Std.Err.   z    P>|z| [0.025 0.975]
--------------------------------------------------------
Intercept     -0.440    0.256 -1.721 0.085 -0.941  0.061
t2m_5          0.024    0.007  3.513 0.000  0.011  0.038
t2m_6          0.020    0.005  3.913 0.000  0.010  0.030
NDVI_5         3.268    0.240 13.611 0.000  2.797  3.738
NDVI_6         0.530    0.145  3.649 0.000  0.245  0.815
Group Var      1.083    0.284
========================================================

In [29]:
# Assuming your DataFrame is named df
# You may need to adjust the formula based on your specific needs
model_formula = "Yield_t_ha ~ t2m_5 + t2m_6 + t2m_7 + t2m_8 + t2m_9 + t2m_10 + t2m_11 + tp_5 + tp_6 + tp_7 + tp_8 + tp_9 + tp_10 + tp_11 + NDVI_5 + NDVI_6 + NDVI_7 + NDVI_8 + NDVI_9 + NDVI_10 + NDVI_11"

# Fit the model
mixedlm_model = smf.mixedlm(model_formula, df_yield, groups=df_yield["District"])
mixedlm_result = mixedlm_model.fit()

# Print the summary
mixedlm_result.summary()

<class 'statsmodels.iolib.summary2.Summary'>
"""
         Mixed Linear Model Regression Results
========================================================
Model:            MixedLM Dependent Variable: Yield_t_ha
No. Observations: 4571    Method:             REML
No. Groups:       227     Scale:              0.1522
Min. group size:  18      Log-Likelihood:     -2725.7643
Max. group size:  40      Converged:          Yes
Mean group size:  20.1
--------------------------------------------------------
             Coef.  Std.Err.   z    P>|z|  [0.025 0.975]
--------------------------------------------------------
Intercept    -3.372    0.391 -8.629 0.000  -4.138 -2.606
t2m_5        -0.018    0.008 -2.319 0.020  -0.033 -0.003
t2m_6        -0.017    0.007 -2.384 0.017  -0.031 -0.003
t2m_7         0.053    0.010  5.340 0.000   0.033  0.072
t2m_8         0.040    0.015  2.600 0.009   0.010  0.070
t2m_9         0.036    0.011  3.225 0.001   0.014  0.058
t2m_10        0.053    0.010  5.148 0.000   0.033  0.074
t2m_11       -0.009    0.008 -1.160 0.246  -0.025  0.006
tp_5        -10.378    3.724 -2.787 0.005 -17.676 -3.080
tp_6         -5.497    2.439 -2.253 0.024 -10.278 -0.715
tp_7          3.154    1.792  1.760 0.078  -0.358  6.667
tp_8          5.774    2.196  2.629 0.009   1.469 10.079
tp_9          3.757    2.327  1.615 0.106  -0.803  8.317
tp_10         8.952    3.906  2.292 0.022   1.296 16.608
tp_11         8.530    6.106  1.397 0.162  -3.438 20.498
NDVI_5        1.569    0.245  6.398 0.000   1.088  2.049
NDVI_6        0.564    0.146  3.863 0.000   0.278  0.850
NDVI_7       -0.548    0.098 -5.574 0.000  -0.740 -0.355
NDVI_8        0.714    0.149  4.781 0.000   0.422  1.007
NDVI_9        1.755    0.233  7.539 0.000   1.299  2.211
NDVI_10       0.564    0.220  2.569 0.010   0.134  0.994
NDVI_11      -1.019    0.241 -4.234 0.000  -1.490 -0.547
Group Var     0.811    0.224
========================================================

"""

In [50]:
mixedlm_result.fittedvalues

0       2.130052
1       2.201793
2       1.850127
3       1.939801
4       2.012307
          ...
5115    2.139775
5116    2.321583
5117    2.087893
5118    2.199543
5119    2.497401
Length: 4571, dtype: float64

In [46]:
# Make a new df_yield_test with on district in 2020 and run the model to make a prediction
df_yield_test = df_yield[(df_yield['District'] == 'Dhamtari') & (df_yield['year'] == 2018)]

In [47]:
df_yield_test

,GID_2,State,District,year,Season,Area_ha,Production_t,Yield_t_ha,t2m_5,t2m_6,...,tp_9,tp_10,tp_11,NDVI_5,NDVI_6,NDVI_7,NDVI_8,NDVI_9,NDVI_10,NDVI_11
5117,IND.7.9_1,Chhattisgarh,Dhamtari,2018,Kharif,144868.0,311175.0,2.14799,33.253918,29.833447,...,0.00659,0.000237,0.000016,0.330148,0.414741,0.565517,0.711291,0.754015,0.685228,0.503421

In [48]:
# Predict yield
predicted_yield = mixedlm_result.predict(df_yield_test)

In [53]:
# Assuming df is your original DataFrame used for modeling, and it includes the observed 'Yield_t_ha'
observed_yields = df_yield['Yield_t_ha']
predicted_yields = mixedlm_result.fittedvalues

# Calculate MAE
mae = np.mean(np.abs(predicted_yields - observed_yields))
print(f"Mean Absolute Error (MAE): {mae}")

Mean Absolute Error (MAE): 0.2833682498179813

In [54]:
# in df_yield check if there are duplicate district names. For example there could be two districts with the same name
df_yield['District'].value_counts()

Raigarh          40
Bilaspur         40
Agra             20
Muzaffarnagar    20
Mandi            20
                 ..
Champawat         0
Bid               0
Chamoli           0
Bishnupur         0
Dhaulpur          0
Name: District, Length: 254, dtype: int64